<!-- Views/Reservation/Index.cshtml -->
@model IEnumerable<Libary.Models.Reservation>

@{
    ViewData["Title"] = "Reservations";
}

<h1>Reservations</h1>
<a asp-area="" style="color:blue" asp-controller="Admin" asp-action="Index">Return To The Main</a>


<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>User</th>
            <th>Book</th>
            <th>Reserved Date</th>
            <th>Return Date</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.User.Username)</td>
                <td>@Html.DisplayFor(modelItem => item.Book.Title)</td>
                <td>@Html.DisplayFor(modelItem => item.ReservedDate)</td>
                <td>@Html.DisplayFor(modelItem => item.ReturnDate)</td>
                <td>@Html.DisplayFor(modelItem => item.StatusId)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ReservationId" class="btn btn-warning">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.ReservationId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
