<!-- Views/SubCategory/Index.cshtml -->
@model IEnumerable<Libary.Models.SubCategory>

@{
    ViewData["Title"] = "SubCategories";
}

<h2>SubCategories</h2>
<a asp-area="" style="color:blue" asp-controller="Admin" asp-action="Index">Return To The Main</a>


<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SubcategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MainCategory.CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SubcategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MainCategory.CategoryName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.SubcategoryId" class="btn btn-secondary">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.SubcategoryId" class="btn btn-info">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.SubcategoryId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
